        body {
            background-color: #2c2c2c;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            color: #f0f0f0; 
        }

        .container {
            max-width: 1440px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 2.5em;
        }

        
        ul {
			list-style-type: none;
            margin-bottom: 50px;
            padding: 20px;
            border: 1px solid #444;
            background-color: #3a3a3a;
            border-radius: 10px;
        }

        ul li a {
            color: #000;
            text-decoration: none;
            font-size: 1.2em;
        }

        ul li {
            margin-bottom: 10px;
        }

        
        .anime {
            margin-bottom: 50px;
            padding: 20px;
            border: 1px solid #444;
            background-color: #3a3a3a;
            border-radius: 10px;
        }

        .gallery {
            display: flex;
            justify-content: space-between;
        }

        .gallery img {
            height: 200px;
            width: auto; 
            border-radius: 20px;
        }

        @font-face {
            font-family: 'DeathNoteFont';
            src: url('fonts/deathnote.ttf');
        }

        @font-face {
            font-family: 'CodeGeassFont';
            src: url('fonts/codegeass.ttf');
        }

        @font-face {
            font-family: 'SoumaFont';
            src: url('fonts/souma.ttf');
        }

        #deathnote p {
            font-family: 'DeathNoteFont', sans-serif;
            text-align: center; /* Описание для первого аниме по центру */
            font-size: 1.1em;
        }

        #codegeass p {
            font-family: 'CodeGeassFont', sans-serif;
            text-align: justify; /* Описание для второго аниме по ширине */
            font-size: 1.1em;
        }

        #souma p {
            font-family: 'SoumaFont', sans-serif;
            text-align: left; /* Описание для третьего аниме по левому краю */
            font-size: 1.1em;
        }

        .anime p {
            line-height: 1.6;
            margin-bottom: 20px;
        }
